<a routerLink="/" routerLinkActive="active" href="#">
  <div class="logo">
    <h1><span class="two-letters">EX</span>CHANGE</h1>
  </div>
</a>

<div class="left-side-menu-list">
  <ul>
    <li class="icon home"><a routerLink="/" routerLinkActive="active" href="#">Home</a></li>
    <li class="icon exchange-rates"><a routerLink="/exchange-rates" routerLinkActive="active" href="#">Exchange Rates</a></li>
    <li class="icon exchange-rates"><a routerLink="/currency-convertor" routerLinkActive="active" href="#">Currency Convertor</a></li>
    <li class="icon exchange-rates"><a routerLink="/data-range" routerLinkActive="active" href="#">Date Range</a></li>
    <li class="icon exchange-rates"><a routerLink="/gold" routerLinkActive="active" href="#">Gold</a></li>

  </ul>
</div>


<!--<img class="filter-green" src="{{imgHome}}" alt="home">-->
