@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


// Colors
$very-dark-blue : #151718;
$dark-blue : #1E1F23;
$mostly-back : #0F1112;
$light-blue : #927CFF;
$vivid-cyan : #01F0C8;
$dark-grayish-blue : #5D5E64;
$dark-cyan : #105A4E;
$desaturated-blue : #3C375F;
$light-blue : #927CFF;
$dark-magenta : #AF179A;
$white : #fff;

//Fonts
$font-family: Arial, Helvetica, sans-serif;

.mat-form-field-appearance-fill .mat-form-field-flex  {
  background-color: $dark-blue;
  border-radius: 1em !important;
  text-align: center;
}

.mat-form-field-empty.mat-form-field-label, .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  padding-top: .2em;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  background-color: $dark-magenta;
}


::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: $dark-magenta !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $dark-magenta !important;;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}


mat-datepicker-toggle {
  color: white !important;
}


.mat-select-value-text {
  color: $white;
}

.mat-select-arrow {
  color: $dark-magenta !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25em 0 1.3em 0;
}


.ngx-charts .gridline-path {
  stroke: #666666 !important;
}

::ng-deep .ngx-charts { text { fill: #fff !important; } }

.canvas-config {
  padding-top: 3em;
  padding-bottom: 3em;
}


::placeholder {
  color: $dark-grayish-blue !important;
  opacity: 1;
}


body {
  background-color: $dark-blue;
  margin: 0;
  color: $white;
  font-family: $font-family;
  font-size: 1.3rem;
}



.body-container {
  background-color: $very-dark-blue;
  margin-top: 6em;
  border-radius: 60px 0px 0px 0px;
  padding: 4em;
  min-height: 50em;
  position: absolute;
  width: 100%;
  box-shadow: inset 7px 7px 47px 22px rgba(0, 0, 0, 0.25);
  // border: 1px solid white;
}

//.top-content {
//  position: relative;
//  //border: 1px solid white;
//  width: 100%;
//  display: flex;
//}

.icon-circle {
  width: 5em;
  height: 5em;
  //background-color: $dark-grayish-blue;
  //background-image: linear-gradient(to right, red , yellow);
  background-image: linear-gradient(to right, $dark-magenta , $dark-cyan);
  border-radius: 5em;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.icon-circle img {
  width: 50%;
}

.page-title {
  position: relative;
  margin-top: 1.3em;
}

.home-text {
  margin-top: 1em;
  //border: 1px solid white;
  padding: 5em;
  height: 100%;
}

